.button-section {
  text-align: center;
}

form {
  margin-top: 0.5em;
}

#search-button,
#lucky-button {
  margin-right: 1.5em;
  margin-top: 1em;
}

img {
  margin-bottom: 3em;
}

#container {
  margin-top: 15em;
}

#advanced-search {
  color: red;
}
