textarea {
  min-height: 400px;
}

.read {
  background-color: rgba(108, 117, 125, 0.2);
}

.mailbox:hover {
  box-shadow: 0 0 6px rgb(35 173 255);
  cursor: pointer;
}

.row {
  animation-name: removeMail;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes removeMail {
  0% {
    /* do something */
    opacity: 1;
  }
  50% {
    /* do something */
    opacity: 0.5;
  }
  100% {
    /* do something */
    opacity: 0;
  }
}
