{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <div class="container shadow-sm p-3 mt-4 bg-light rounded">
        <div class="container my-3">
            <form action="{% url 'post_edit' post.id %}" id="editpost">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" id="content" name="content" rows="5">{{ post.content }}</textarea>
                </div>
                <input type="submit" value="post" class="btn btn-primary">
            </form>
        </div>
    </div>
<script src="{% static 'network/edit.js' %}"></script>
{% endblock body %}