{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    <form action="{% url 'auction_create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="price" placeholder="Price" min="0" required step=".01">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="Image url (Opt)" value="">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="Category">Category</label>
        </div>
        <select class="custom-select" id="Category" name="category">
            <option selected disabled>Choose...</option>
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" rows="3" placeholder="Description (Opt)"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Add">
    </form>

{% endblock %}